
body {
background-color: deepskyblue;
font: 1em sans-serif;
color: brown; 
font-style: normal;
font-size: medium;
text-align: center;
}
h2{
    font-style: oblique;
    color:  darkgoldenrod;
  
   }  
 
article{
    font-style: bold;
    font: 1em Times New Roman;
    font-size: x-large;
    font-display: center;
   
  }
li{
    font-style: normal;
    color: gold;
    font-weight: initial; 
        font-family: cursive;
   
}